* {
  box-sizing: border-box;
}

body {
  background-image: url("images/pattern.jpg");
  background-repeat: repeat;
  width: auto;
  margin: auto;
  font-family: monospace;
}

header {
  text-align: center;
  font-size: 3em;
  height: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 1em;
  justify-content: center;
  align-content: center;
}

#phone {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding-left: .1em;
}

#lipstick {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

#usb {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-left: .1em;
}

section {
  font-size: 2em;
}
p{
  text-align: center;
  font-size: .5em;
}
#overlay, #overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #000;
  color: deeppink;
}

#overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close {
  position: absolute;
  top: 1em;
  right: 1em;
}



footer {
  clear: both;
  position: fixed;
  bottom: 0px;
  height: 20px;
  font-size: 10px;
  padding: 15px 5px 7px 5px;
  color: #346588;
  background-color: #ebebeb;
  text-align: center;
}

footer a {
  color: #ff00cf;
}

@media only screen and (min-width: 769px) {

  /* declarations */
  header {
    text-align: center;
    font-size: 3.5em;
    height: 1.8em;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #phone {
    width: 20%;
    height: 30%;
    padding-top: 1em;
  }

  #lipstick {
    width: 20%;
    height: 20%;
    padding-top: 5em;
  }

  #usb {
    width: 20%;
    height: 30%;
    padding-top: 10em;
  }
}
