* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  overflow: hidden;
}

/* new css */
/* Display the page when targeted */
.page:target {
  display: block;
}


h1 {
  position: fixed;
  top: 15px;
  right: 7em;
  left:1em;
  font-size: 60px;
  font-family: monospace;
  color: white;
  background-color: rgba(249, 53, 229, 0.71);
}
p{
  position: fixed;
  top: 0px;
  right: 12em;
  left:1em;
  top: 17em;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4em;
}
nav {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

a {
  border: 2px #333 solid;
  border-radius: 5px;
  width: 1in;
  height: auto;
  padding: 16px;
  margin-bottom: 4px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

a:hover {
  background-color: white;
}

.page {
  /* setting height 100% for html, body, and for all pages makes each page full viewport */
  height: 100%;
  /* dirty hack to make text big and centered */
  text-align: center;
  font-size: 100vmin;
  color: #333;
  display: none;
}
/* #c {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur( 10px ) contrast( 10 );
  -moz-filter: blur( 10px ) contrast( 10 );
  filter: blur( 10px ) contrast( 10 );
} */
button {
  width:33%;
  height:2em;
  border-radius:14px;
  border:0;
  font-size:3em;
  font-weight:bold;
  background-color:orange;
  color:#222;
display: inline-block;
}

#home {
  background-color: #ffc9eb;
  display: block;
  /* first page shows */
  text-align: justify;
  font-size: 20px;
  padding-left: 25em;
  padding-top: 13em;
}


#daypage {
  background-color: #ff95db;
  display: block;
}

#nightpage {
  background-color: #ff71ba;
}

#demo {
  background-color: #ff5b9b;
}
#talk {
  background-color: #ff5b9b;
  position: fixed;
  top: 300px;
  right: 600px;
  font-size: 1.5em;

}

footer {
  clear: both;
  position: fixed;
  padding-left: 10px;
  bottom: 60px;
  height: 20px;
  font-size: 10px;
  /* padding: 15px 5px 7px 5px; */
  /* color: #346588; */
  text-align: center;
}

footer a {
  color: #000000;
}
