* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: monospace;
  font-size: 100%;
  overflow: hidden;
}

.page:target {
  display: block;
}

h1 {
  position: fixed;
  top: 2em;
  text-align: center;
  padding-left: 1.5em;
  font-size: 60px;
  font-family: monospace;
  color: white;
}

p {
  position: fixed;
  top: 0px;
  right: 12em;
  left: 1em;
  top: 11em;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3em;
}

nav {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

a {
  border-radius: 10px;
  width: 1in;
  height: auto;
  padding: 13px;
  margin-bottom: 4px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: white;
}

a:hover {
  background-color: black;
  color: white;
}

.page {
  height: 100%;
  text-align: center;
  font-size: 100vmin;
  color: #333;
  display: none;
}

canvas {
  background-color: blue;
  margin: 0;
  padding: 0;
}

#home {
  background: linear-gradient(+80deg, #c2f6ff, #c9ffe7, #fffec2, #ffddd4, #ffd5f7, #c2f6ff, #c9ffe7, #fffec2, #ffddd4, #ffd5f7, #c2f6ff, #c9ffe7, #fffec2, #ffddd4, #ffd5f7);
  background-size: 400% 400%;
  animation: Gradient 60s ease infinite;
  padding-right: 4em;
  padding-top: 120px;
  font-size: 32.5em;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 100% 50%
  }
}

#daypage {
  display: contents;
  justify-content: center;
}

#nightpage {
  background: linear-gradient(+80deg, #001626, #230055, #002a71, #014b90, #36003b, #ff6300);
  background-size: 400% 400%;
  animation: Gradient 30s ease infinite;
}

#demo {
  background: linear-gradient(-40deg, #d0ebff, #e6d5ff, #beefff, #fbcdff, #ffc4e2, #ffdada, #ffe4d2, #fffebd, #c4ecff);
  background-size: 400% 400%;
  animation: Gradient 30s ease infinite;
}

footer {
  clear: both;
  position: fixed;
  padding-left: 117.5em;
  padding-right: 2em;
  bottom: 90px;
  height: 10px;
  font-size: 10px;
  text-align: center;
}

footer a {
  color: #000000;
}
