body {
  text-align: center;
  font-family: inherit;

}
img{
  width: auto;
  height: 200px;
}
section{
  display: block;
width: 800px;
margin: auto;
justify-content: space-between;
}
p{
  display: flex;
}
footer {
  clear: both;
  position: fixed;
text-align: center;
  bottom: 0px;
  height: 20px;
  font-size: 10px;
  padding: 15px 5px 7px 5px;
  color: #346588;
  background-color: #ebebeb;

}

footer a {
  color: #ff00cf;
}
