* {
  box-sizing: border-box;
}

body {
  height: 1000px; /* only for codepen */
  /*background: linear-gradient(205deg, #333, indigo);*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #00343c;
}

h1 {
  min-width: 700px; /* prevents text from breaking */
  margin-bottom: -0.22em;
  margin-left: 14%;
  font-family:  fantasy, cursive;
  font-size: 3.5em;
  font-weight: normal;
  color: #006562;
}

#formSection {
  width: 50%;
  min-width: 300px;
  padding: 3%;
  margin-left: 12%;
  background-color: #e4feff;
  color: #85cdd1;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  grid-gap: 1%;
  width: 90%;
  padding: 1em;
  border: 0; /* remove default */
  margin-bottom: 0;
}

fieldset > label {
  text-align: left;
  align-self: center;
  margin-left:10%
}
form fieldset:last-child div {
  grid-column-start: 2;

}

input[type="text"]:focus {
  border-bottom: 8px green solid;
  background-color: white;
  color: white;
}

input[type="submit"],
input[type="reset"] {
  width: 30%;
  min-width: 100px;
  padding: 10px;
  border: 0px;
  margin: 1% 1% 1% 0;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  background: #006562;
  color: white;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background: purple;
  color: white;
}

#msgSection {
  width: 50%;
  min-width: 300px;
  padding: 2em;
  margin: 1% 12%;
  background-color: lightblue;
}

footer {
  clear: both;
  position: fixed;
  bottom: 5px;
  height: 10px;
  font-size: 10px;
  padding: 30px 5px 7px 5px;
  color: #346588;
  background-color: #ebebeb;
  text-align: center;
}

footer a {
  color: #006562;
}
